#youtube{
  background-color: #336178;
}
#navbar{
  background-color: #336178;
}
#header{
  background-color: #2F607D;
}
#text{
  color: #336178;
}
#footer{
  background-color: #336178;
  color: white;
}
#mobile-menu{
  background-color: #336178;
}
#header-text{
  background-color: #2F607D;
}