#youtube{
  background-color: #336178;
}
#navbar{
  background-color: #336178;
}
#header{
  background-color: #2F607D;
}
#text{
  color: #336178;
}
#footer{
  background-color: #336178;
  color: white;
}
#mobile-menu{
  background-color: #336178;
}
#header-text{
  background-color: #2F607D;
}
#get{
  color: white;
  background:linear-gradient( #336178, #559ec9); ;
}
#button{
  background-color: #0c5c85;
color: white;

}
#button:hover{
  background-color: rgb(191, 11, 11);
}
#course{
  background-color: #F3F4F6;
}